header {
  background-color: slateblue;
  color: beige;
  text-align: center;
}
main {
  background-color: lightpink;
  padding: 1em;
}
body {
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0;
}
